@import url("/css/main.css");

table {
  width: 100%;
}

#teacher td, #teacher th {
  border: 1px solid #ddd;
  padding: 8px;
}

#teacher th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: gray;
  color: white;
}

.Active {
  color: green;
}
.Inactive {
  color: red;
}